.main-container {
  background-color: rgb(129, 132, 139);
  color: white;
  display: flex;
}

.sidebar li {
  list-style: none;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
}

.product {
  padding: 10px;
  width: 300px;
}
