.main-container {
  display: flex;
}

.sidebar {
  font-size: 18px;
  width: 250px;
}

.sidebar li {
  list-style: none;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
}

.product-list li {
  margin-bottom: 15px;
}
